<section id="bio" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="/assets/img/avatar.jpg" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                        <p><span class="title-s">Name: </span> <span>Jeferson Amorim</span></p>
                        <p><span class="title-s">Profile: </span> <span>Full Stack Developer</span></p>
                        <p class="social-media">
                          <a href="https://instagram.com/{{ site.instagram_username | cgi_escape | escape }}" title="Me siga no Instagram"><i class="ion-social-instagram"></i></a></li>
                          <a href="https://www.youtube.com/@{{ site.youtube_channel | cgi_escape | escape }}" title="Me siga no Youtube"><i class="ion-social-youtube"></i></a>
                          <a href="https://www.linkedin.com/in/{{ site.linkedin_username | cgi_escape | escape }}" title="Se quiser conhecer mais sobre minha carreira, está tudo no LinkedIn"><i class="ion-social-linkedin"></i></a></li>
                        </p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Habilidades</p>
                  <span>Frontend</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Backend</span> <span class="pull-right">90%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>DevOps</span> <span class="pull-right">60%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Testing</span> <span class="pull-right">70%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                        Biografia
                    </h5>
                  </div>
                  <p class="lead">
                    Desde que garoto, eu sempre fui fascinado por carros, viagens, restaurantes, roupas legais.
                    Eu queria ter uma casa maneira, viver a vida sem perrengues.
                    Meu sonho era um desafio... Para alguns parecia loucura, provocava risos em quem ouvia.
                  </p>
                  <p class="lead">
                    Eu precisava crescer muito para alcançar meus objetivos e herança não seria uma possibilidade.
                    Ingressar em uma formação que me permitisse isso não era possível mas para ser um bom programador eu
                    já tinha tudo o que era preciso. Minha dedicação!
                  </p>
                  <p class="lead">
                    Programar mudou a minha vida e tenho certeza que pode mudar a sua. Conheci lugares, pessoas, culturas...
                    Quer aprender como programar e mudar a sua realidade? Me deixe te guiar em seu caminho!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
