<div class="section-counter paralax-mf bg-image" style="background-image: url(/assets/img/office-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
        <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
                <span class="ico-circle"><i class="fa-solid fa-earth-americas"></i></span>
            </div>
            <div class="counter-num">
                <p class="counter">{{ site.data.trips | countries_count }}</p>
                <span class="counter-text">Países diferentes</span>
            </div>
            </div>
        </div>
        <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
                <span class="ico-circle"><i class="fa-regular fa-flag"></i></span>
            </div>
            <div class="counter-num">
                <p class="counter">{{ site.data.trips | states_count }}</p>
                <span class="counter-text">Estados visitados</span>
            </div>
            </div>
        </div>
        <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
                <span class="ico-circle"><i class="fa-solid fa-city"></i></span>
            </div>
            <div class="counter-num">
                <p class="counter">{{ site.data.trips | cities_count }}</p>
                <span class="counter-text">Cidades conhecidas</span>
            </div>
            </div>
        </div>
        <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
                <span class="ico-circle"><i class="fa-solid fa-umbrella-beach"></i></span>
            </div>
            <div class="counter-num">
                <p class="counter">{{ site.data.trips | beaches_count }}</p>
                <span class="counter-text">Praias exploradas</span>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>