---
layout: blog
---
<article class="post-box" itemscope itemtype="http://schema.org/BlogPosting">
  {%- if page.img -%}
    <div class="post-thumb">
      <img src="/assets/img/{{ page.img }}" alt="" class="img-fluid">
    </div>
  {%- endif -%}
  <header class="post-meta">
    <h1 class="article-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <ul>
      <li>
        <span class="ion-ios-person"></span>
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="post-author" itemprop="name">Jeferson Amorim</span>
        </span>
      </li>
      {%- if page.tag -%}
        <li>
          <span class="ion-pricetag"></span>
          <a href="{{ page.tag | tag_url }}" class="post-tag">{{ page.tag | tagname_sanitize }}</a>
        </li>
      {%- endif -%}
      <li>
        <span class="ion-calendar"></span>
        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
      </li>
    </ul>
  </header>
  <div class="article-content" itemprop="articleBody">
    {{ content }}
    {%- if page.others_tags -%}
      <ul>
      {%- assign others_tags = page.others_tags | parse_others_tags -%}
      {%- if page.others_tags -%}
        {%- for tag in others_tags -%}
          <li><a href="{{ tag | tag_url }}">{{ tag | tagname_sanitize }}</a></li>
        {%- endfor -%}
      {%- endif -%}  
      </ul>
    {%- endif -%}
  </div>
</article>
<div class="box-comments">
  <p>
    Você é bem-vindo a dividir a sua opinião, ajudar, completar, contribuir ou até criticar.
    Mas desde que seja de forma respeitosa, é claro!
  </p>

  <p>
    Os comentários não estão disponíveis aqui, mas não se acanhe.
    Minhas redes sociais estão todas listadas abaixo.
  </p>

  {%- if page.media -%}
    <p>
      Esse conteúdo inclusive está disponível no meu <a href="{{ page.media }}"">Canal do Youtube</a>.
    </p>
    <p>
      Clique <a href="{{ page.media }}">aqui</a> é vá lá conferir e cometar. Ah! Não esqueça de me seguir e curtir o vídeo, hein?
    </p>
  {%- endif -%}

  <p>
    No <a href="https://instagram.com/{{ site.instagram_username | cgi_escape | escape }}">Instagram</a> eu compartilho várias dicas rápidas e nossa conversa é mais direta.
  </p>
  <p>
    <a href="https://instagram.com/{{ site.instagram_username | cgi_escape | escape }}">Me siga e confira!</a>
  </p>
  {%- include social.html -%}
</div>
