a:hover {
    color: $color1;
  }
  
  .color-a {
    color: $color1;
  }
  
  .overlay-mf {
    background-color: $color1;
  }
  
  .line-mf {
    background-color: $color1;
  }
  
  .title-left:before {
    background-color: $color1;
  }
  
  .socials .ico-circle {
    box-shadow: 0 0 0 3px $color1;
  }
  
  .socials .ico-circle:hover {
    background-color: $color1;
  }
  
  .list-ico span {
    color: $color1;
  }
  
  .ico-circle {
    box-shadow: 0 0 0 10px $color1;
  }
  
  .scrolltop-mf span {
    background-color: $color1;
  }
  
  .back-to-top {
    background: $color1;
  }
  
  #preloader:before {
    border-top: 6px solid $color1;
  }
  
  .navbar-b.navbar-reduce .nav-link {
    color: $color1;
  }
  
  .navbar-b.navbar-reduce .nav-link:before {
    background-color: $color1;
  }
  
  .navbar-b.navbar-reduce .nav-link:hover {
    color: $color1;
  }
  
  .navbar-b.navbar-reduce .show > .nav-link,
  .navbar-b.navbar-reduce .active > .nav-link,
  .navbar-b.navbar-reduce .nav-link.show,
  .navbar-b.navbar-reduce .nav-link.active {
    color: $color1;
  }
  
  .navbar-b.navbar-reduce .navbar-brand {
    color: $color1;
  }
  
  .navbar-b .dropdown-menu .dropdown-item:hover {
    background-color: $color1;
  }
  
  .navbar-b .dropdown-menu .dropdown-item.active {
    background-color: $color1;
  }
  
  .intro-single .breadcrumb {
    color: $color1;
  }
  
  .skill-mf .progress .progress-bar {
    background-color: $color1;
  }
  
  .service-box:hover .ico-circle {
    background-color: $color1;
    box-shadow: 0 0 0 10px $color2;
  }
  
  .work-content .w-like {
    color: $color1;
  }
  
  .work-content .w-more .w-ctegory {
    color: $color1;
  }
  
  .work-content .w-like a {
    color: $color1;
  }
  
  .quote-box {
    .comit {
      color: $color1;
    }

    span.author a:hover {
      color: $color2;
    }
  }
  
  .card-blog .card-category {
    background-color: $color1;
  }
  
  .blog-wrapper .post-meta ul {
    border-left: 4px solid $color1;
  }
  
  .blog-wrapper .post-meta ul a {
    color: $color1;
  }
  
  .blog-wrapper blockquote {
    border-left: 4px solid $color1;
  }
  
  .box-comments .list-comments a {
    color: $color1;
  }
  
  .widget-sidebar .sidebar-title {
    border-left: 5px solid $color1;
  }
  
  .widget-sidebar .list-sidebar li:before,
  .list-blog-tags li:before {
    background-color: $color1;
  }
  
  .sidebar-search .btn-search {
    background-color: $color1;
    border-color: $color1;
  }
  
  .widget-tags ul li {
    background-color: $color1;
  }
  
  #sendmessage {
    color: $color1;
    border: 1px solid $color1;
  }
  
  .button-a {
    background-color: $color1;
    border-color: $color2; 
  }
  
  .button:hover {
    background-color: $color3;
  }
  
  .skill-mf .progress {
    background-color: $color2;
  }
  
  .intro-single .breadcrumb .breadcrumb-item {
    &:before, &.active {
      color: #fff;
    }

    &.active {
      font-weight: 200;
    }
  }
  
  .socials .ico-circle:hover {
    box-shadow: 0 0 0 3px $color2;
  }
  
  .box-shadow-a,
  .button:hover {
    box-shadow: 0 0 0 4px $color2;
  }
  
  .owl-theme .owl-dots .owl-dot span {
    background: $color2;
    border: 0px solid $color2;
  }
  
  .counter-ico .ico-circle {
    box-shadow: 0 0 0 10px $color2;
  }
  
  .owl-theme .owl-dots .owl-dot:hover span {
    background-color: $color2;
  }
